.container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  color: var(--mein-text);
  gap: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 49px;
}
}

.header {
  display: flex;
  align-items: start;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
}



.greeting {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.username {
  font-weight: bold;
}

.userMenu {
  position: relative;
  padding: 6px 12px;
  border-radius: 30px;
  color: #fff;
  background: var(--main);
}

.menuButton {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  gap: 8px;
  @media screen and (min-width: 768px) {
    gap: 10px;
  }
}

.userName {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #f0eff4;
}

.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: #fff;
  fill: #323f47;
@media screen and (min-width: 768px) {
  width: 20px;
  height: 20px;
  }
  
}

.iconSettings {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  fill: none;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 110%;
  right: 0;
  width: 100%;
  padding: 13px 12px;
  border-radius: 15px;
  background: #fff;
}

.menuItem {
  display: flex;
  padding: 4px;
  border: none;
  color: rgba(50, 63, 71, 0.4);
  background: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  gap: 8px;
}

.menuItem:hover {
  color: rgba(50, 63, 71, 1);
}
