.title {
    margin-bottom: 15px;
    color: #323f47;
    text-align: center;    
    letter-spacing: -0.01em;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.text {
    line-height: 129%;
    margin-bottom: 28px;
    color: #323f47;
    text-align: center;
    letter-spacing: -0.01em;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.btnCancel, .btnLogOut {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    color: rgba(50, 63, 71, 1);
    background-color: rgba(155, 225, 160, 1);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.btnCancel {
    color: rgba(50, 63, 71, 0.3);
    background-color: rgba(240, 239, 244, 1);
}

.btnCancel, .btnLogOut {
    cursor: pointer;
    transition: all 150ms, ease-in-out;
}

.btnCancel:hover {
    color: #323f47;
}
.btnLogOut:hover {
    background-color: #87D28D;
}

@media screen and (min-width: 768px) {
    .box {
        gap: 24px;
    }

    .textBox {
        gap: 24px;
    }

    .title {
        line-height: 114%;
        font-size: 28px;
    }

    .text {
        line-height: 133%;
        font-size: 18px;
    }
    .title, .text {
        margin-bottom: 25px;
    }

    .buttonBox {
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    .btnLogOut, .btnCancel {
        width: 175px;
        padding: 18px 0;
        font-size: 16px;
    }
}