.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;    
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
    margin-bottom: 15px;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
    margin-bottom: 28px;
}

.buttonBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.btnCancel, .btnLogOut {
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    width: 100%;
    border: none;
    padding: 15px 0;
    font-weight: 700;
    color: rgba(50, 63, 71, 1);
    background-color: rgba(155, 225, 160, 1);
    font-size: 14px;
}
.btnCancel {
    background-color: rgba(240, 239, 244, 1);
    color: rgba(50, 63, 71, 0.3);
}

.btnCancel, .btnLogOut {
    transition: .3s;
    cursor: pointer;
}

.btnCancel:hover {
    color: #323f47;
}
.btnLogOut:hover {
    background-color: #87D28D;
}

@media screen and (min-width: 768px) {
    .box {
        gap: 24px;
    }

    .textBox {
        gap: 24px;
    }

    .title {
        font-size: 28px;
        line-height: 114%;
    }

    .text {
        font-size: 18px;
        line-height: 133%;
    }
    .title, .text {
        margin-bottom: 25px;
    }

    .buttonBox {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .btnLogOut, .btnCancel {
        font-size: 16px;
        width: 175px;
        padding: 18px 0;
    }
}