.waterListContainer {
  display: flex;
  overflow-x: auto; /* Додає горизонтальний скрол, якщо контент виходить за межі */
  scrollbar-width: thin; /* Тонкий скролбар для браузерів, які його підтримують */
  gap: 16px; /* Відстань між елементами списку */
}

.waterList {
  display: flex;
  gap: 16px; /* Відстань між елементами списку */
  padding: 8px;
  list-style: none;
}

.waterList::-webkit-scrollbar {
  height: 8px; /* Висота горизонтального скролбару */
}

.waterList::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
}

.noRecords {
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
  color: var(--text-secondary);
}
