.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 46px;
  margin-left: auto;
  border: none;
  border-radius: 30px;
  color: var(--main-white);
  background: var(--main);
  cursor: pointer;
  transition: all 150ms ease-in-out;
  gap: 10px;
}

.addBtn:hover,
.addBtn:focus {
  color: var(--accent);
  fill: var(--accent);
}

.addBtn p {
  line-height: 129%;
  text-align: center;
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 700;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  stroke: currentColor;
  /* color: red;
  fill: red; */
}

@media screen and (min-width: 768px) {
  .addBtn {
    right: 32px;
    bottom: 64px;
    width: 178px;
    height: 60px;
  }
  .addBtn p {
    line-height: 150%;
    font-size: 16px;
  }
  .plus {
    width: 24px;
    height: 24px;
  }
}
