.popoverList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 137px;
    height: 64px;
    margin-top: 2px;
    border-radius: 15px;
    opacity: 0;
    background-color: var(--white);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    transition: all 150ms, ease-in-out;
    transform: translateY(-10px);
}

.popoverList.show {
    opacity: 1;
    transform: translateY(0);
}

.popoverListItem {
    display: flex;
    margin-top: 14px;
    margin-left: 20px;
}

.popoverListItem:last-child {
    margin-top: 8px;
    margin-bottom: 14px;
}

.popoverBtnSetting {
    display: flex;
    align-items: center;
    line-height: 1.49;
    padding: 0;
    color: var(--text-grey);
    font-size: 15px;
    font-weight: 700;
}

.popoverBtnLogOut {
    display: flex;
    align-items: center;
    line-height: 1.49;
    padding: 0;
    color: rgba(50, 63, 71, 0.4);
    transition: all 150ms, ease-in-out;
    font-size: 15px;
    font-weight: 700;
}

.popoverBtnLogOut:hover,
.popoverBtnLogOut:focus {
    color: var(--text-grey);
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

@media screen and (min-width: 768px) {
    .popoverList {
        max-width: 157px;
        height: 82px;
    }
}