.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #9be1a0;
  padding: 32px;
  border-radius: 15px;
  position: relative;
}

.header {
  align-self: flex-start;
}

.bottleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.bottle {
  max-width: 92%; /* Адаптивный размер бутылки */
  padding: 66.54px 0 50px 0;
  height: auto;
}

.buttonWrapper {
  position: absolute;
  bottom: 64px;
  right: 32px; /* Привязываем к углу */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
  .bottleWrapper {
    flex-grow: 0;
  }

  .bottle {
    max-width: 70%; /* Уменьшаем бутылку на малых экранах */
  }

  .logo {
    font-size: 1.2rem;
  }

  .buttonWrapper {
    right: 10px;
    bottom: 10px;
  }
}
