.radioGender {
  display: flex;
  gap: 1.5rem;
}

.customRadio {
  position: relative;
  line-height: 20px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

.customRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customRadio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1.5px solid #9be1a0;
  border-radius: 50%;
}

.customRadio .checkmark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;
  background: #9be1a0;
  content: "";
  transform: translate(-50%, -50%);
}

.customRadio input:checked ~ .checkmark::after {
  display: block;
}

.settingFormTitle {
  line-height: 1.2;

  margin-bottom: 20px;
  color: #323f47;
  letter-spacing: -0.01em;
  font-size: 20px;
}

.imgContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 40px;
  color: #323f47;
}

.avatar {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.customFileUpload {
  display: flex;
  border: none;
  cursor: pointer;
  gap: 8px;
}

.uploadBtn {
  line-height: 1.3;

  color: #2f2f2f;
  letter-spacing: -0.01em;
  font-size: 14px;
}

.genderContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 14px;
}

.icon {
  width: 18px;
  height: 18px;

  stroke: currentColor;
  fill: transparent;
}

.genderTitle {
  line-height: 1.25;

  color: #323f47;
  letter-spacing: -0.01em;
  font-size: 16px;
}

input[type="radio"] {
  transform: scale(1.2);
}

.radioGender {
  display: flex;

  line-height: 1.28;
  color: #323f47;
  letter-spacing: -0.01em;

  font-size: 14px;
  gap: 20px;
}

.userDataWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  gap: 8px;
}

.userName {
  line-height: 1.25;

  color: #323f47;
  letter-spacing: -0.01em;
  font-size: 16px;
  font-weight: 700;
}

.inputName {

  width: 100%;
  line-height: 1.28;
  padding: 14px 16px;
  border: 1px solid #2f2f2f26;
  border-radius: 15px;

  outline: none;
  color: #323f47;
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 400;
}

.inputName:focus {
  border: 1px solid #2f2f2f66;
}

.userEmailWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 8px;
}

.dailyTitle {
  line-height: 1.25;
  margin-bottom: 14px;
  color: #323f47;
  letter-spacing: -0.01em;
  font-size: 16px;
}

.dailyList {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  gap: 12px;
}

.dailyText {
  line-height: 1.28;
  margin-bottom: 4px;
  color: #2f2f2f;
  letter-spacing: -0.01em;
  font-size: 14px;
}

.dailyFormula {
  line-height: 1.28;

  color: #9be1a0;
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 700;
}

.dailyDescribeWrapper {
  padding: 16px;
  margin-bottom: 14px;
  border: 1px solid #2f2f2f26;
  border-radius: 15px;
}

.dailyDescribeSpan {
  color: #9be1a0;
}

.dailyDescribeText {

  line-height: 1.28;
  color: #2f2f2f99;
  letter-spacing: -0.01em;
  font-size: 14px;
}

.dailyAttention {
  line-height: 1.28;
  color: #2f2f2f;
  letter-spacing: -0.01em;
  font-size: 14px;
}

input::placeholder {
  color: #2f2f2f;
}

.dailyWeightWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  gap: 8px;
}

.dailyWeight {
  line-height: 1.28;
  color: #2f2f2f;
  letter-spacing: -0.01em;
  font-size: 14px;
}

.dailyTimeWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 8px;
}

.dailyRequiredWrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.28;
  margin-bottom: 14px;
  color: #2f2f2f;
  letter-spacing: -0.01em;
  font-size: 14px;
  gap: 5px;
}

.dailyRequiredNorma {
  line-height: 1.28;

  color: #9be1a0;
  font-size: 14px;
  font-weight: 700;
}

.dailyWater {
  display: block;
  line-height: 20px;
  margin-bottom: 8px;

  color: #323f47;
  letter-spacing: -0.01em;
  font-size: 16px;
  font-weight: 700;
}

.dailyWaterWrapper {
  margin-bottom: 40px;
}

.saveButton {
  align-items: center;
  width: 116px;
  height: 46px;
  line-height: 1.28;
  padding: 14px 40px;
  border: none;
  border-radius: 30px;
  color: #323f47;

  background-color: #9be1a0;
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.01em;

  font-size: 14px;
  font-weight: 700;
  gap: 10px;
}

.saveButton:hover,
.saveButton:focus {
  background-color: #87d28d;
  transition: all 150ms, ease-in-out;
}

.exclamation {

  align-items: center;
  color: #9be1a0;
  font-size: 24px;
}

.exclamationWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 768px) {
  .settingFormTitle {
    line-height: 1.14;
    font-size: 28px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .uploadBtn {
    line-height: 1.5;
    font-size: 16px;
  }

  .genderTitle {
    line-height: 1.33;
    font-size: 18px;
  }

  .radioGender {
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-size: 16px;
  }

  .userName {
    line-height: 1.33;
    letter-spacing: -0.01em;
    font-size: 18px;
  }

  .inputName {
    line-height: 1.5;
    padding: 16px;
    font-size: 16px;
  }

  .dailyTitle {
    line-height: 1.33;
    font-size: 18px;
  }

  .dailyList {
    flex-direction: row;
    margin-bottom: 14px;
    gap: 28px;
  }

  .dailyText {
    line-height: 1.5;

    margin-bottom: 4px;
    font-size: 16px;
  }

  .dailyFormula {
    line-height: 1.5;
    font-size: 16px;
  }

  .dailyDescribeText {
    line-height: 1.5;
    font-size: 16px;
  }

  .dailyAttention {
    line-height: 1.5;
    font-size: 16px;
  }

  .dailyWeight {
    line-height: 1.5;
    font-size: 16px;
  }

  .dailyRequiredWrapper {
    align-items: center;
    flex-direction: row;
    line-height: 1.5;
    margin-bottom: 14px;
    font-size: 16px;
    gap: 5px;
  }

  .dailyWater {
    line-height: 1.33;
    margin-bottom: 8px;
    font-size: 18px;
  }

  .saveButton {
    width: 141px;
    height: 56px;
    line-height: 1.5;
    padding: 16px 50px;

    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .deskWrapper {
    display: flex;
    gap: 40px;
  }

  .deskMiniWrapper {
    min-width: 400px;
  }
}

.errorMessage {
  margin-top: 5px;
  color: #ef5050;
  font-size: 14px;
}

.inputError {
  border: 1px solid #ef5050 !important;
}

.inputError:focus {
  border: 1px solid #ef5050 !important;
}

.errorGroup {
  margin-top: 10px;
  font-weight: bold;
}
