.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-top: 24px; 
  padding-bottom: 67px;
  padding-left: 16px;
  background-color: #F0EFF4;
  border-radius: 30px;
  

  @media screen and (min-width: 768px) {
    min-width: 704px;
    flex-direction: column;
    padding: 32px 32px 50px;
    
  }

  @media screen and (min-width: 1440px) {
    padding: 32px 60px 188px;
    min-height: 736px;
  }
}

.header {
  margin-bottom: 50px; 

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1440px) {
    position: relative;
    margin-left: -28px;
    margin-bottom: 132px;
    
  }
}


.textContent {
  text-align: center;
  margin-bottom: 32px; 

  @media screen and (min-width: 768px) {
    text-align: left;
    max-width: 600px;
  }
}

.subtitle {
  font-family: var(--font);
  font-size: 14px; 
  font-weight: 400;
  color: var(--main-text);
  margin-bottom: 16px; 


  @media screen and (min-width: 768px) {
    font-size: 16px;
  }


}

.title {
  font-family: var(--font);
  font-size: 38px; 
  font-weight: 700;
  line-height: 0.9; 
  color: var(--main);
  margin-bottom: 24px;


  @media screen and (min-width: 768px) {
    font-size: 64px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 80px;
  }
}

.buttons {
  display: flex;
  gap: 10px;
  @media screen and (min-width: 768px) {
    gap: 16px;
  }

}

.tryTracker,
.signIn {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 600;
  padding: 14px 19px; 
  border: none;
  border-radius: 50px; 
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    padding: 18px 40px;
    font-size: 16px;
  }
}

.tryTracker {
  background-color: var(--accent);
  color: var(--main);
  &:hover {
    background-color: #87D28D;
  }
  
}

.signIn {
  color: var(--main);
  border: 2px solid var(--main);

  &:hover {
    border-color: #87D28D;
    color: #87D28D;
  }
}


