.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 106%;
}

@media (max-width: 374px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
