.waterForm {
  width: 100%;
}

.amountWaterLabel {
  line-height: 1.29;
  color: var(--main-text);
  letter-spacing: -0.01em;
  font-family: var(--font), sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.amountWaterLabel {
  margin-top: 20px;
}

.btnBox {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
}

.numberSpan {
  padding: 11px 20px;
  border-radius: 30px;
  color: var(--main-white);
  background: var(--main);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1.5px solid var(--main);
  border-radius: 30px;
  color: var(--main);
  background-color: var(--main-white);
}

.btnSvg {
  width: 24px;
  height: 24px;
}

.recordingTimeLabel {
  display: block;
  margin: 0 0 0 0;
  margin-top: 16px;
  color: var(--main-text);
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 400;
}

.recordingTimeInput {
  display: block;
  width: 100%;
  height: 46px;
  line-height: 1.3;
  padding: 14px 16px;
  margin: 8px 0 0 0;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  outline: transparent;
  color: var(--main-text);
  background-color: var(--main-white);
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 400;
}

.recordingTimeInput:focus {
  border: 1px solid rgba(47, 47, 47, 0.35);
}

.waterValueLabel {
  display: block;
  line-height: 1.25;
  margin-top: 24px;
  color: var(--main-text);
  letter-spacing: -0.01em;
  font-size: 16px;
  font-weight: 700;
}

.waterValueInput {
  display: block;
  width: 100%;
  height: 46px;
  line-height: 1.3;
  padding: 14px 16px;
  margin: 8px 0 0;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  outline: transparent;
  color: var(--main-text);
  background-color: var(--main-white);
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 400;
}

.waterValueInput:focus {
  border: 1px solid rgba(47, 47, 47, 0.35);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  margin-top: 0px;
  color: red;
  font-size: 12px;
  font-weight: 400;
}

.btnSave {
  line-height: 1.29;
  padding: 14px 40px;
  margin-top: 24px;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  color: var(--main);
  background: var(--accent);
  transition: all 150ms ease-in-out;
  letter-spacing: -0.01em;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.btnSave:hover,
.btnSave:focus {
  background: #87d28d;
}

@media (min-width: 768px) {
  .amountWaterLabel,
  .recordingTimeLabel {
    font-size: 16px;
  }

  .recordingTimeInput,
  .waterValueInput {
    padding: 16px;
    font-size: 16px;
  }

  .waterValueLabel {
    font-size: 18px;
  }

  .numberSpan {
    font-size: 15px;
  }

  .error {
    font-size: 14px;
  }

  .btnSave {
    line-height: 1.5;
    padding: 18px 50px;
    margin-bottom: 0;
    font-size: 16px;
  }
}
