.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0;
  background-color: rgba(44, 39, 39, 0.4);
  transition: all 150ms, ease-in-out;
}

.active {
  opacity: 1;
}

.modalContent {
  position: relative;
  overflow-x: hidden;

  overflow-y: auto;
  width: calc(100% - 32px);
  min-width: 288px;
  max-width: 344px;
  max-height: 90vh;
  padding: 40px 20px;
  margin: 50px auto;
  border-radius: 15px;
  background-color: var(--background);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.modalContent::-webkit-scrollbar-button {
  display: none;
}

.modalContent::-webkit-scrollbar {
  width: 8px;
  height: 223px;
}

.modalContent::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #f0eff4;
  background-clip: content-box;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .modalContent {
    min-width: 518px;
    padding: 40px;
  }
  .closeButton {
    right: 20px;
    width: 28px;
    height: 28px;
  }
  .icon {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (min-width: 1440px) {
  .backdrop .modalContent {
    max-width: 920px;
  }
  .modalContent.narrow {
    max-width: 515px;
  }
}
