.card {
  border-radius: 30px;
  max-width: 343px;
  height: 415px;
  background: var(--accent);
  padding: 24px 16px;
  position: relative;
}

.card div:first-child {
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 704px;
    height: 578px;
    padding: 32px;
  }

  .card div:first-child {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    max-width: 672px;
    height: 736px;
  }
  .card div:first-child {
    margin-bottom: 36px;
  }
}
