.mainInfo {
  display: flex;
  flex-direction: column;
  background: var(--accent);
  background-image: url("../../assets/imgs/bottle-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 30px;
  max-width: 343px;
  padding: 24px 16px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
}
@media screen and (min-width: 768px) {
  .mainInfo {
    background-image: url("../../assets/imgs/bottle-bg-tablet.png");
    max-width: 704px;
    padding: 32px;
  }
.infoBlock {
  padding-top: 101px;
  padding-bottom: 32px;
}
  
}

@media screen and (min-width: 1440px) {
  .mainInfo {
    background-image: url("../../assets/imgs/bottle-bg-desktop.png");
  }
}
