.deleteWaterModal {
  padding: 20px 0px;
}

.title,
.subtitle {
  color: var(--main);
  text-align: center;
  letter-spacing: -0.01em;
  font-family: var(--font), sans-serif;
}

.title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 700;
}

.subtitle {
  line-height: 1.29;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
}

.buttonDelete,
.buttonCancel {
  width: 100%;
  line-height: 1.29;
  padding: 14px 0;
  border: none;
  border-radius: 30px;
  color: var(--main);
  transition: all 150ms ease-in-out;
  letter-spacing: -0.01em;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.buttonDelete {
  margin-top: 28px;
  background: var(--accent);
}

.buttonCancel {
  margin-top: 9px;
  color: rgba(50, 63, 71, 0.3);
  background: var(--background);
}

.buttonDelete:hover,
.buttondelete:focus {
  background: #87d28d;
}

.buttonCancel:hover,
.buttonCancel:focus {
  color: var(--main);
}

@media (min-width: 768px) {
  .deleteWaterModal {
    padding: 0;
  }

  .title {
    line-height: 1.14;
    font-size: 28px;
  }

  .subtitle {
    line-height: 1.33;
    margin-top: 24px;
    font-size: 18px;
  }

  .boxButton {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .buttonDelete,
  .buttonCancel {
    width: 178px;
    line-height: 1.5;
    padding: 18px 59px;
    margin-top: 24px;
    font-size: 16px;
  }
}
