.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 16px;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 150ms, ease-in-out;
}

.navButton:active {
  transform: scale(0.9);
}

.currentDate {
  color: var(--mein-text);
  font-size: 16px;
  font-weight: bold;
}

.statisticsButton {
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;

  stroke: transparent;
  fill: black;
}
