.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 16px;
  border-radius: 16px;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--text);
  font-size: 28px;
  font-weight: bold;
}

.todayButton {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: var(--mein);
  background-color: var(--accent);
  cursor: pointer;
  transition: all 150ms, ease-in-out;
  font-size: 18px;
  font-weight: 500;
}

.todayButton:hover {
  background-color: #87d28d;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 374px) {
  .title {
    display: none;
  }
  .todayButton {
    padding: 4px 10px;
    font-size: 12px;
  }

  .controls {
    gap: 12px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .title {
    display: none;
  }
  .todayButton {
    padding: 5px 12px;
    font-size: 13px;
  }

  .controls {
    gap: 14px;
  }
}
