.form {
  max-width: 311px;
  flex-grow: 1;
  gap: 16px;
  font-size: 14px;
  line-height: 129%;
}

.formContainer {
  position: relative;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  max-width: 343px;
  min-height: 736px;
  height: calc(100vh - 32px);
}

.formContainer div:first-child {
  position: absolute;
  top: 24px;
  left: 16px;
}

.header {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--main);
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: var(--main-text);
}

.formGroup label {
  margin-bottom: 8px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
  width: 100%;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.togglePasswordButton {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.togglePasswordButton svg {
  width: 20px;
  height: 20px;
  stroke: #333;
  fill: none;
}

.errorInput {
  border: 1px solid red;
}

.submitButton {
  width: 100%;
  height: 50px;
  margin-top: 16px;
  border: none;
  border-radius: 30px;
  color: #323f47;
  background: #9be1a0;
  text-align: center;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
}

.signupLink {
  margin-top: 10px;
  color: rgba(47, 47, 47, 0.5);
  text-align: center;
  letter-spacing: -0.01em;
}

.link {
  color: #2f2f2f;

  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .formContainer {
    height: calc(100vh - 64px);

    max-width: 704px;
  }
  .formContainer div:first-child {
    top: 32px;
    left: 32px;
  }
  .form {
    max-width: 436px;
    font-size: 16px;
    line-height: 150%;
  }
  .header {
    font-size: 36px;
    line-height: 106%;
  }
  .formGroup {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 150%;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    font-size: 16px;
    line-height: 150%;
  }
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  input[type="text"]::placeholder {
    font-size: 16px;
    line-height: 150%;
  }
  .submitButton {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
  .formContainer {
    max-width: 672px;
    height: 736px;
  }
}
