.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  border-radius: 16px;
  color: var(--mein-text);
}

.dateAndAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.dateAndAction .customAddWaterBtn {
  width: 200px;
  height: 60px;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: none;
  padding: 0;
  color: var(--main);
}

.dateAndAction .customAddWaterBtn:hover {
  transform: scale(1.05);
}

.dateAndAction .customAddWaterBtn svg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  stroke: currentColor;
  background: var(--accent);
}

.dateAndAction .customAddWaterBtn p {
  font-size: 16px;
  font-weight: bold;
}

.date {
  font-size: 28px;
  font-weight: bold;
}

.noRecords {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}
