.form {
    background: #f0eff4;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #323f47;
    margin-bottom: 16px;
}

.formGroup {
    margin-bottom: 16px;
    border-radius: 15px;
    width: 311px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    color: #2f2f2f;
    display: flex;
    flex-direction: column;
   
    
}

.formGroup label {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        color: #2f2f2f;
    margin-bottom: 8px;
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 35px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f0eff4;
}

.togglePasswordButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.togglePasswordButton svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #333;
}

.errorInput {
    border: 1px solid red;
}

.submitButton {
    border-radius: 30px;
    width: 311px;
    height: 50px;
    background: #9be1a0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
    border: none;
    margin-top: 16px;
}
.signupLink {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        color: rgba(47, 47, 47, 0.5);
    text-align: center;
    margin-top: 10px;
}

.link {
    
    font-weight: 700;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #2f2f2f;
}

.link:hover {
    text-decoration: underline;
}