.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 436px;
    padding: 0 30px;
    border-radius: 10px;
    background: #f0eff4;
    gap: 16px;
}

.formContainer {
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header {
    line-height: 1;
    margin-bottom: 16px;
    color: #323f47;
    text-align: left;
    letter-spacing: -0.01em;
    font-size: 32px;
    font-weight: 700;
}

.formGroup {
    display: flex;
    flex-direction: column;
    height: 50px;
    line-height: 1.28571;
    margin-bottom: 16px;
    border-radius: 15px;
    color: #2f2f2f;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 700;


}

.formGroup label {
    line-height: 1.28571;
    margin-bottom: 8px;
    color: #2f2f2f;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 700;
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 35px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #f0eff4;
    font-size: 1rem;
}

.togglePasswordButton {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.togglePasswordButton svg {
    width: 20px;
    height: 20px;
    stroke: #333;
    fill: none;
}

.errorInput {
    border: 1px solid red;
}

.submitButton {
    height: 50px;
    line-height: 1.28571;
    margin-top: 16px;
    border: none;
    border-radius: 30px;
    color: #323f47;
    background: #9be1a0;
    text-align: center;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 700;
}

.signupLink {
    line-height: 1.28571;
    margin-top: 10px;
    color: rgba(47, 47, 47, 0.5);
    text-align: center;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 400;
}

.link {
    color: #2f2f2f;

    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.link:hover {
    text-decoration: underline;
}