@import "../node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

:root {
  /* main colors */
  --main: #323f47;
  --main-text: #2f2f2f;
  --accent: #9be1a0;
  --background: #f0eff4;
  --main-white: #ffffff;
  --font: "Poppins";
}

body {
  font-family: sans-serif;
  margin: 16px 0;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--main-text);
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 32px 0;
  }
}

@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
