/* 
.container {
  display: flex;
  gap: 20px;
  padding: 20px 15px;
  justify-content: center;
  align-items: stretch;
}


@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .container {
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    border-radius: 25px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .container {
    padding: 15px 0;
    border-radius: 10px;
    flex-wrap: wrap;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    padding: 20px;
    max-width: 540px;
    flex-wrap: wrap;
  }
} */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 32px;
  }
}



