.progress {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  border: none;
  padding: 5px;
  font-size: 12px;
  color: rgba(50, 63, 71, 0.6);
  background-color: transparent;
  transition: background-color 0.3s, transform 0.2s;
}

.dayCircle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--main);
  font-weight: bold;
  transition: background-color 0.3s;
}

.dayCircle:hover {
  background-color: #ccc;
  color: var(--main);
}

.today .dayCircle {
  background-color: var(--main);
  color: var(--accent);
}

.selected {
  background-color: var(--accent);
}

.dayCircle.selected {
  background-color: var(--accent);
}

.dayCircle .selected:hover {
  background-color: inherit;
}
