.rightSection {
    display: none;
  }
  
  @media screen and (min-width: 1440px) {
    .page {
      display: flex;
      flex-direction: row;
      /* justify-content: center;
      align-items: stretch; */
      gap: 32px;
    }
  
    .leftSection {
      flex-grow: 1;
    }
  
    .rightSection {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 736px;
      border-radius: 30px;
      background: transparent;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
  }
  